@page
@model PROIECT_SESIUNE_VINURI.Pages.Vinuri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vin.Nume" class="control-label"></label>
                <input asp-for="Vin.Nume" class="form-control" />
                <span asp-validation-for="Vin.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.An" class="control-label"></label>
                <input asp-for="Vin.An" class="form-control" />
                <span asp-validation-for="Vin.An" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Tip" class="control-label"></label>
                <input asp-for="Vin.Tip" class="form-control" />
                <span asp-validation-for="Vin.Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Culoare" class="control-label"></label>
                <input asp-for="Vin.Culoare" class="form-control" />
                <span asp-validation-for="Vin.Culoare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.Pret" class="control-label"></label>
                <input asp-for="Vin.Pret" class="form-control" />
                <span asp-validation-for="Vin.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin.TaraID" class="control-label">Tara Origine</label>
                <select asp-for="Vin.TaraID" class="form-control" asp-items="ViewBag.TaraID">
                </select>
                <span asp-validation-for="Vin.TaraID" class="text-danger"></span>
            </div>
            <div class="form-group">
            <div class="table">
                <table>
                    <thead> Distribuitori</thead>
                    <tr>
                            @{
                                int c = 0;
                                foreach (var distri in Model.DistribuitorVinuriDatList)
                                {
                                    if(c++ %3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type ="checkbox"
                                            name="selectedDistribuitori"
                                            value="@distri.DistribuitorID"
                                            @(Html.Raw(distri.Dat ? "checked=\"checked\"" : ""))/>
                                            @distri.DistribuitorID @: @distri.Name
                                            @:</td>
                                            
                                }
                                @:</tr>
                                }
                                </table>
                                </div>
                                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
